section.sr-main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 75px;
  padding: 0;
}
section.sr-main section.sr-block {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 30vh;
  padding: 3vh 0;
  width: 100%;
  margin: 0;
}
section.sr-main section.sr-block:nth-child(even) {
  background: #a2d0ee;
}
section.sr-main section.sr-block div {}
section.sr-main section.sr-block div.sr-block-image img {
  width: 10vw;
}
section.sr-main section.sr-block div.sr-block-text {
    padding: 0 5%;
  display: inline-block;
  font-family: Gill Sans MT, cursive, sans-serif;
  font-size: 16pt;
}
section.sr-main section.sr-block div.sr-block-text > p {
  height: 100%;
}
