section.sr-main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
}
section.sr-main section.sr-block {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 40vh;
  padding: 3vh 0;
  width: 100%;
  margin: 0;
}
section.sr-main section.sr-block:nth-child(even) {
  background: #a2d0ee;
}
section.sr-main section.sr-block:nth-child(even) div.sr-block-image {
    order: 2;
}
section.sr-main section.sr-block:nth-child(even) div.sr-block-text {
    margin: 0;
    margin-right: 5%;
}
section.sr-main section.sr-block div.sr-block-image img {
  width: 14vw;
}
section.sr-main section.sr-block div.sr-block-text {
  width: 60%;
  margin-left: 5%;
  display: inline-block;
  font-family: Gill Sans MT, cursive, sans-serif;
  font-size: 16pt;
}
section.sr-main section.sr-block div.sr-block-text > p {
    text-align: justify;
  height: 100%;
}
