<div>
  <div class="col-md-6 col-sm-12 sr-map">
    <map zoom="15" center="current"
         zoom-to-include-markers='auto'>
      <marker ng-repeat="marker in vm.markers" position="{{marker.Place.langtitude}}, {{marker.Place.longtitude}}" on-click="vm.showDetails()" marker="{{marker}}"/>
      <marker position="current" animation="Animation.BOUNCE"/>
      <shape name="circle" radius="{{vm.radius}}" center="[40.74,-74.18]"/>
      <control name="overviewMap" opened="false" />
    </map>
  </div>
  <div class="col-md-6 col-sm-12 sr-description">
    <div>
      description: <span>{{vm.selectedSting.description}}</span>
    </div>
    <div class="sr-placement">
      <h3><span class="label label-primary">langtitude: {{vm.selectedSting.Place.langtitude}}</span></h3>
      <h3><span class="label label-primary">longtitude: {{vm.selectedSting.Place.longtitude}}</span></h3>
    </div>
  </div>
</div>
