@media screen and (max-width: 720px) {
    section.sr-main-space div.sr-description {
        margin-top: 5vh;
    }
}

section.sr-main div.sr-map {
    padding: 0;
    border: 3px solid #212C51;
    border-radius: 2px;
}

section.sr-main div.sr-description {
    font-family: Gill Sans MT, cursive, sans-serif;
    font-size: 16pt;
}

section.sr-main div.sr-description .panel-title {
    font-size: 18pt;
    font-weight: bold;
}

section.sr-main div.sr-placement h3 {
    display: inline-block;
}

section.sr-main div.sr-placement span {
    display: inline-block;
}
