<section class="sr-main container">
  <form>
    <div class="form-group">
      <h2>
        <label for="sting-name">Post a Sting</label>
      </h2>
      <input type="text" id="sting-composer-name" class="form-control" placeholder="name" ng-model="vm.sting.name" />
      <input type="text" id="sting-composer-price" class="form-control" placeholder="price" ng-model="vm.sting.price" />
      <!--<input type="file" id="fileUpload">-->
      <textarea type="text" class="form-control" row="3" id="sting-name" placeholder="description" ng-model="vm.sting.description" ></textarea>
    </div>
    <button type="submit" ng-click="vm.composeSting(vm.sting)" class="btn btn-primary">submit</button>
  </form>
</section>
