<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sr-menubar-bars" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand nav" href="/">
        <span>
          <img id="sr-brand" alt="Brand" src="images/Stingray.png">
        </span>
        <span class="sr-menubar-title">Stingray</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="sr-menubar-bars">
      <ul class="nav navbar-nav">
        <li ng-if="srMenubarCtrl.logedIn">
          <a href="/near">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Near Stings
          </a>
        </li>
        <li>
          <a href="/search">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search Stings</a>
        </li>
        <li>
          <a href="/post">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Post a Sting</a>
        </li>
      </ul>
      <facebook-button ng-if="!srMenubarCtrl.logedIn"></facebook-button>
      <ul class="nav navbar-nav navbar-right" ng-if="srMenubarCtrl.logedIn">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Extras
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Profile</a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>Options</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
