section.sr-main div.sr-search {
    width: 60%;
    left: 50%;
    margin-left: -30%;
}
section.sr-main section.sr-results {
    margin-top: 5vh;
}
section.sr-main section.sr-results h3 {
    display: inline-block;
}
section.sr-main .input-group + div.row  .sr-map {
    margin-top: 10vh;
}
section.sr-main .input-group + div.row .sr-description {
    display: none;
}
